In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\vikas\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (1.3.5)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.17.3 in c:\users\vikas\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\vikas\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\vikas\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\vikas\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

[notice] A new release of pip available: 22.1.2 -> 24.0
[notice] To update, run: C:\Users\vikas\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [16]:
df1 = pd.read_csv('X_train.csv')
df2 = pd.read_csv('X_test.csv')
df3 = pd.read_csv('y_train.csv')
df4 = pd.read_csv('y_test.csv')

In [17]:
df1

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,1.176724,0.055707,-0.108197,0.384930,-1.136187,0.577282,0.314284,0.609656,-0.000361,1.178217,...,0.019678,-0.355338,-0.706647,0.301951,-2.673148,-0.048619,0.436517,0.440509,0.067094,-0.391487
1,0.270856,0.809320,-0.676930,0.615369,-0.618554,0.188283,0.485395,0.313696,-0.019052,1.734372,...,-0.404987,-0.168886,0.084856,0.286030,-0.725398,-1.099746,0.945307,-0.133123,-0.239272,-0.361126
2,-1.643064,-0.263261,0.094636,0.020151,0.489192,-0.077648,-0.391052,-0.271694,0.113505,0.578387,...,-0.065270,0.045228,-0.028009,0.084510,-0.145529,-0.159883,-0.536250,-0.664664,1.621718,-0.428650
3,1.646823,0.334632,-0.263975,0.500281,-1.061321,0.591826,0.960925,0.552957,0.131817,0.590774,...,-0.355282,-0.201069,-0.330997,0.152777,-3.019754,-1.063250,0.530138,0.195614,0.047995,-0.370021
4,0.980202,0.794354,-0.845043,0.347944,-0.978451,0.276544,0.409272,0.363574,-0.041010,0.484767,...,0.194486,-0.015694,0.649084,-0.037920,0.488393,-0.311456,-0.350060,-0.086809,-0.084365,0.288064
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
454899,0.888809,0.759627,-0.790648,0.470288,-0.602037,0.240662,0.326582,0.441770,-0.050570,1.202227,...,-0.061544,-0.033237,0.513651,0.024732,1.222630,-0.384858,-0.696812,-0.091548,-0.104104,0.397526
454900,-0.975399,0.648874,-0.534775,0.757240,-0.412906,0.226601,0.436642,0.426544,0.001670,0.691254,...,-0.347583,-0.127216,0.033290,0.096190,0.412054,0.204883,-1.205349,-0.030168,-0.034998,-0.324593
454901,0.125423,-0.701412,1.196462,-1.268614,1.819439,-1.741373,-1.106245,-1.402321,0.860395,-1.382666,...,-0.191211,0.623747,0.311907,0.473648,1.164653,-0.907096,-0.021548,0.577715,0.441945,0.760006
454902,-1.228275,-4.980771,3.965806,-4.343460,1.325839,-4.812480,-2.467964,-2.984449,3.853456,-1.020936,...,1.486611,0.492908,-1.881980,-1.370105,0.429868,3.443179,-0.531273,1.244311,0.780724,0.020265
454903,-0.538139,0.126114,0.104773,0.148694,0.153983,-0.159238,0.140624,0.136408,0.152462,-0.161792,...,-0.012992,0.072574,0.224880,-0.043206,-0.834211,-0.173966,0.265817,0.000674,0.489975,0.325724

In [18]:
df3

        Class
0           0
1           0
2           1
3           0
4           0
...       ...
454899      0
454900      0
454901      1
454902      1
454903      1

[454904 rows x 1 columns]